[Unit]
Description=Add wheel members to docker, libvrt, and plugdev groups

[Service]
Type=oneshot
ExecStart=/usr/libexec/codedx-groups
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target