[Desktop Entry]
Type=Application
Version=1.0
Name=SchedExt GUI Manager
GenericName=SCX Manager
Keywords=cachyos;system;kernel;
Exec=scx-manager
Comment=Manage scx schedulers
Icon=/usr/share/icons/org.cachyos.scx-manager.png
Terminal=false
StartupNotify=false
Categories=Qt;System;
X-AppStream-Ignore=true
Hidden=true
